.arrowContainer {
    margin-bottom: 1rem;
    height: 60%;
    width: 60%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.arrow {
    height: 100%;
    width: 100%;
    background-color: #cbd6d8;
    transform: rotate(45deg) translate(55%,55%);
}