.elevatorBox {
    height: 13rem;
    width: 100%;
    background-color: #2C3338;
    background-color: #414F59;
    opacity: 1;
    transition: all 1s;
    // z-index: 100;
}

// .step {
//     margin-bottom: 15rem;
// }
