.diplayHeader {
    background-color: #95AAB5;
    display: grid;
    grid-template-columns: 1fr repeat(var(--elevators-amount),  10rem 1fr) ;
    align-content: center;
    justify-content: center;
    padding: 1rem 0rem;
}